/*---------------------------------
new minimalistic design
----------------------------------*/
* {
   box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .questionnaire {
    align: center;
  }

  #main {
    display: flex;
    min-height: calc(100vh - 40vh);
  }
  #main > article {
    flex: 1;
    background: #EAF1F7;
    align: middle;
  }
  #main > nav,
  #main > aside {
    flex: 0 0 20vw;
    background:#A6C4E0;
  }
  #main > nav {
    order: -1;
  }
  header, footer, article, nav, aside {
    padding: 1em;
  }
  header {
    background: #C7D9EF;
    height: 20vh;
    text-align: center;
  }

  footer{
    background: #A6C4E0;
    height: 20vh;
    text-align: center;
  }
