div.ex1 {
  max-width:645px;
  margin: auto;
  border: 3px solid #aaa;
  font-family: Arial, Helvetica, sans-serif;
}

div.ex2 {
  position:relative;
  top:20px;
  right:3px;
  width:250px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

div.ex3 {
  position:relative;
  top:40px;
  height:550px;
  width:270px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

div.ex3 {
  align: center;
  width: 100px;
}

.float{
	/*position:fixed;
  right:170px;
  */
	width:270px;
	height:550px;
  margin-top: 15px;

	background-color:#0C9;
	color:#FFF;
	border-radius:20px;
	text-align:center;
  text-decoration: none;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
	box-shadow: 2px 2px 3px #999;

}


.my-float{
	margin-top:22px;
}

#progressbar {
  /*position:fixed;
	right:172px;
  */
  width:250px;
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar>div {
  background-color: #0C9;
  width:1%;
  /* Adjust with JavaScript */
  height: 3px;
  border-radius: 10px;
}

* {
   box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  #main {
    display: flex;
    min-height: calc(100vh - 40vh);
  }
  #main > article {
    flex: 1;
    background: #EAF1F7;
  }
  #main > nav,
  #main > aside {
    flex: 0 0 20vw;
    background:#A6C4E0;
  }
  #main > nav {
    order: -1;
  }
  header, footer, article, nav, aside {
    padding: 1em;
  }
  header, footer {
    background: #C7D9EF;
    height: 20vh;
    text-align: center;
  }
