#progressbar {
  position:fixed;
	width:245px;
	right:198px;
  background-color: black;
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
}

#progressbar>div {
  background-color: orange;
  width: 20%;
  /* Adjust with JavaScript */
  height: 3px;
  border-radius: 10px;
}
